body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.reload-button {
    padding:10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-weight: bold;
}

.error-text {
    color:red;
    text-align: center;
}

#gl-canvas {
    border: 1px solid black;
}